.input-error {
  color: red;
  margin-bottom: 1rem;
  height: 1rem;
}

.DEBUG_FormWrapper label {
  font-weight: bold;
  width: 100%;
}

.DEBUG_FormWrapper input[type="text"],
.DEBUG_FormWrapper input[type="checkbox"],
.DEBUG_FormWrapper input[type="number"] {
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.DEBUG_FormWrapper input[type="text"],
.DEBUG_FormWrapper input[type="number"] {
  width: 100%;
}

.DEBUG_FormWrapper button[type="submit"] {
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 0.3rem;
  width: 100%;
}

.DEBUG_FormWrapper form {
  border: solid 2px #aaa;
  border-radius: 5px;
  padding: 4rem;
  height: 100%;
}

.code-snippet code {
  padding: 20rem;
}
